header {
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;


}

#avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.show-search {
    max-height: 300px;
    overflow: scroll;
    padding: 10px 30px;
   
}

.show-search::-webkit-scrollbar {
    width: 5px;

}

.show-search::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff7600;
}

#inputSearch {
    padding: 10px;
    border: none;
    background: none;
    outline: none;


}

.btn-search {
    background: none;
    border: none;
    font-size: 20px;

}

#formSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEDF7;
    border-radius: 50px;
    padding: 0 10px;
    width: 350px;
}

.action {
    display: flex;
    align-items: center;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.action i {
    border-radius: 50%;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, .171);
    color: #32323d;
    padding: 12px;
}

ul li {
    display: inline-block;
    padding: 9px;
    text-align: center;
}

nav ul li a:hover {
    transition: 0.3s ease-in-out;
    color: #ff7600;

}

ul li a {
    padding: 8px 20px;
    line-height: 35px;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.action img {
    width: 40px;
    margin-left: 5px;
}

.item-cart i {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 15px;

}

.item-cart i:hover {
    color: #d91e1e;

}

.item-cart {
    padding-top: 10px;
    display: flex;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

.item-cart img {
    width: 70px;
    margin-right: 10px;
    margin-top: 10px;
}

.btn-show-cart {
    background-color: #ff7600;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.show-cart {
    max-height: 500px;
    overflow: scroll;
    padding: 0 10px;
    width: 300px;

}

#price,
#priceTotal {
    color: rgba(233, 20, 20, .877);
}
#priceTotal{
    display: flex;
    justify-content: center;
}

.show-cart::-webkit-scrollbar {
    width: 5px;
}

.show-cart::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

.logo {
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

nav>ul {
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100px) rotate(0);
    }

    80% {
        transform: translate(20px)
            /* transform: translate(20px) rotate(180deg); */
    }

    100% {
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        transform: translateY(100px) rotate(0);
    }

    80% {
        transform: translate(20px)
            /* transform: translate(20px) rotate(180deg); */
    }

    100% {
        transform: translate(0);
    }
}

#dropCart p {
    color: #fff;
    background-color: rgba(233, 20, 20, .877);
    border-radius: 50%;
    height: 20px;
    text-align: center;
    width: 20px;
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    margin-top: -6px;
    left: 20px;

}

#dropCart {
    display: flex;
    position: relative;
}