.main-favorite{
    padding: 20px 100px;
    min-height: 80vh;
}
.image-favorite img{
    width: 200px;
    border-radius: 5px;
}
.item-favorite{
    display: flex;
    margin-top: 20px;
}
.content-favorite{
    padding-left: 20px;
}
.content-favorite p{
    margin: 10px 0;
}
#fv-desc{
    width: 600px;
}
