.detail-main{
    padding: 20px 100px;
}
#main-img{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.detailProduct-image img{
    width: 99%;
    height: auto;
    border-radius: 5px;
}
.detailProduct{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.btn-primary{
    cursor: pointer;
    font-size: 20px;
    background-color: #fd6e1d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;

}.add-toCart{
    cursor: pointer;
    font-size: 20px;
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
}
.banner-detail{
    height: 300px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://theme.hstatic.net/200000065946/1000806110/14/cvn_slideshow_10.jpg?v=2676);
}
#addCart{
    font-size: 18px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #fd6e1d 50%, #fca120 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease-in-out;
    
}

  #addCart:hover{
    background-position: 0%;
    
  }
#addCart i{
    margin-right: 10px;
}
#btn-addCart{
    display: flex;
}
.image-child img{
    width: 100px;
    border-radius: 5px;
    margin-left: 8px;
}
.detailInfo p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.detailProduct> .detailProduct-image{
    width: 35%;
    height: max-content;
}
.detailProduct> .detailInfo{
    width: 45%;
    padding:  20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 20px;
    height: max-content;
}
.detailInfo span{
    font-size: 15px ;
    font-weight: 500 !important;
}
.detailInfo h1{
    padding-bottom: 20px !important;
}
#detailStatus{
    margin-top: 20px;
}
#priceDetail{
    color: #f59000;
    font-size: 35px;
    margin: 15px 0;
}
#quantity-input{
    text-align: center;
    margin: 0;
}
#quantity{
    margin: 20px 0;
}
.detailProduct> .blog{
    width: 20%;
}
.blog-item{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.blog-item p{
    margin-bottom: 10px;
}
.blog-item h4{
    border-bottom: 2px solid #fca120;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
}
.blog-item strong{
    color: #fff;
    background-color: #fca120;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.image-blog  img{
    width: 100px;
}
.item-blog{
    display: flex;
}
.showDescOrComment{
    background-color: #fff;
    border: 1px solid #fca120;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
  
}
.heart-share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20 80px !important;
    margin: 20px 0;
    
    border-radius: 5px;
    
}
.heart-share img{
    width: 100px;
}
#share{
    display:flex;
    align-items: center;
}
.heart i{
    font-size: 20px;
    cursor: pointer;
}
.item-blog{
    margin-top: 10px;
}
.image-blog img{
    border-radius: 5px;
    margin-right: 7px;
}
.blog h4{
    margin: 10px;
}